@mixin subline{
	border-bottom: $highlighted-color 3px solid;
}
@mixin news{
	font-size: 12px;
}
@mixin txt-gray{
	font-size: 12px;
	color: $gray-text;
}
@mixin social-network{
	font-size: 25px;
	color: white;
	width: 100%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-top: 0;
	cursor: pointer;	
}
@mixin star{
	cursor: pointer;
	color: $grayclear-text;
}
@mixin txt-grayclear{
	font-size: 10px;
	color: $grayclear-text;
}
@mixin linkcolor{
	color: $highlighted-color;
}
@mixin linkgray{
	color: $grayclear-text;
}
@mixin info-fp{
	color: $gray-text;
	font-size: 10px;
	text-align: center;
	font-weight: 300;
	margin-top: -0.2rem;	
}