html {
    font-family: 'Merriweather Sans', sans-serif;

}
	
.first-title{
	span{
		color: $highlighted-color;
	}	
}
nav{
	background-color: $white;
	box-shadow: none;
	ul{
		a{
			color: $gray-text;
			font-size: 0.9rem;

			&:hover{
				@include subline;
				background-color: transparent;
			}	
		}
	}
}
