.family{
	margin-top: 1rem;
}
.first-section{
	margin-top: 3rem;
}
.divider{
	background-color: $highlighted-color;
	margin-top: 0.21rem;
}
.w{
	@include subline;
}
.title{
	font-size: 16px;
	color: $gray-text;
	span{
		@include subline;
	}
}
.title-mini{
	font-size: 14px;
	a{
		color: $gray-text;
		margin-right: 0.5rem;
		span{
			@include subline;
		}
	}
}
.button-collapse{
	i{
		color: $highlighted-color;
	}
}
.date{
	@include news;
	color: $highlighted-color;
}
.date-two{
	@include txt-gray;
	margin-bottom: 0;
	margin-top: 0;
}
.date-three{
	@include news;
	color: $gray-text;
	margin-top: 0.4rem;
}
.star{
	@include star;
	span{
		color: $highlighted-color;	
	}
	.material-icons{
		font-size: 10px;
	}
}
.star-two{
	@include star;
	margin-top: -1rem;
	span{
		color: $highlighted-color;	
	}
	.material-icons{
		font-size: 10px;
	}
}
.info{
	margin-top: -0.4rem;
}
.separate{
	.divider{
		background-color: $grayclear-text;
		margin-top: -1rem;
	}
}
.info-two{
	margin-top: -1.5rem;
}
.fa-facebook{
	@include social-network;
	background-color: $fb;
	&:hover{
		background-color: lighten($fb, 10%);
	}
}
.fa-twitter{
	@include social-network;
	background-color: $tw;
	&:hover{
		background-color: lighten($tw, 10%);
	}
}
.fa-rss{
	@include social-network;
	background-color: $rss;
	&:hover{
		background-color: lighten($rss, 10%);
	}
}
.txt-social{
	@include txt-gray;
}
.vimeo{
	margin-top: 2.4rem;
	.video-container{
		margin-top: 2.5rem;
		margin-bottom: 2rem;
	}
}
.spot{
	margin-top: 2rem;
}
.title-life{
	@include txt-gray;
	@include line-height(25);
}
.title-side{
	margin-top: -2rem;
	@include txt-gray;
	@include line-height(25);
}
.txt-grayclear{
	@include txt-grayclear;
	@include line-height(25);
}
.world{
	margin-top: 1rem;
}
.poserue{
	a{
		@include linkcolor;
	}
}
.info-acord{
	margin-top: -2rem;
}
.view-more{
	margin-top: -1rem;
	a{	
		color: $gray-text;
		i{
			@include linkgray;
		}	
	}
}
.t-world{
	margin-top: -4rem;
}
.like{
	font-size: 12px;
	span{
		font-weight: 700;
	}
}
.fp{
	@include info-fp;
}
.fb{
	margin-top: -1rem;
}
.plugin{
	img{
		margin-top: 0.3rem;
	}
	a{
		@include info-fp;
	}
}
.tweet{
	font-weight: 300;
}
.navigation{
	a{
		@include linkgraydark;
		font-size: 12px;
		&:hover{
			color: $highlighted-color;
		}
	}	
}
.nav-sep{
	margin: 0.4rem 0;
}
.flickr{
	margin-top: 1.4rem;
}
.color{
	background-color: $highlighted-color;
	width: 100%;
	height: 0.5rem;
}
.credits{
	font-size: 10px;
	text-align: center;
	color: $white;
	background-color: $highlighted-color;
	margin-bottom: -1.5rem;
	padding-top: 0.2rem;
}